h3 {
color: purple;

}
#first{
    font-size:9pt;
    font-family: times;
    float: right;


}

#first a {
    color: black;

}

p{
    font-size:10pt;

}
body{
    background-color: seashell;
}
ul li a{
    font-size:12pt;
    color:purple;

