header {

    /* Colourings */
    background-color: aquamarine;
    /* Content */
    height: 150px;
    width: 450px;
    /* Padding */
    padding-left: 30px;
    padding-right: 30px;

    /* Border */
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-height:5px;
}
#mugContainer1{
    background-color: chartreuse;
    height: 20px;
    width: 25px;
}

h1 {

    TEXT-ALIGN: center;
    FONT-SIZE: 40px;
}

Nav ul li {
    display:inline;
    padding: 10px;
    border:1px cornflowerblue solid;
    text-align: center;
}
Nav ul li a {
    text-decoration: none;

}
Nav {
    text-align: center;
}
h2 {
    color: red;
}

div img {
    :40px;
}

p {

    font-family: 'Oswald', sans-serif;
    text-align: justify;
}
