Nav{
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 10px;
    text-decoration: none;

}
nav a{
    margin-right: 20px;
    text-decoration: none;
}
header img{
    width: 340px;

}
h2{

}
fieldset{
background-color: lightslategray;
}

}
#AA{
    text-align:center;
}

#maincontent{
width: 66%;
    float: left;
}

#sidebar{
width: 33%;
    float: right;
}

.fixer{
    clear: both;
}